<div class="container">
<div class="text-center">
<h1>Pacientes</h1>

<button class="btn btn-primary mx-3 mb-3" [routerLink]="['nuevo']">
  <i class="bi bi-person-plus-fill"> Nuevo</i>
</button>

</div>
<div class="table-responsive">
  
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="text-center">Cédula</th>
          <th class="text-center">Nombre Completo</th>
          
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td class="text-center">{{ paciente.cedula }}</td>
          <td>{{ paciente.nombrePaciente }}</td>
          
          <td align="center">
              <button class="btn btn-primary mx-1" (click)="seleccionarPacienteActualizar(paciente)"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger mx-1" (click)="eliminarPaciente(paciente.idPaciente)"><i class="bi bi-trash"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
  
</div>
</div>